*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: rgb(223, 219, 219);
    width: 300px;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;

}
.sidebar nav a{
    text-decoration: none;
    color: black;

}
.main{
    
}
.container{
    display: flex;
}
.infocontainer{
    /*background-color: rgb(202, 9, 128);*/
    height: 58vh;
    width: 70vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello{
    font-size: 65px;
}
.name{
    font-size: 50px;
    font-weight: bold;
}
.about{
    font-size: 40px;
}
.buttons{
    margin-top: 35px;
}
.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 15px;
    margin: 0 3px;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: dodgerblue;
}

.moreabout{
    font-size: 20px;
    margin-top: 23px;
}
.devpic img{
    height: 58vh;
}
.contactform{
    padding: 0 34px;
    padding-top: 100px;

}
.contactform h1{
/*text-align: center;*/
padding: 12px 0;
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    width: 16vw;
    border-radius: 5px;
    margin: 6px 0;
    padding: 3px;
}

#emailHelp{
    font-size: 8px;
    color: midnightblue;
    margin: 0 5px;
}
#form-check{
    flex-direction: row;
}

#form-check input{
width: 24px;
margin: 3px 0;
}

.blogItem{
    margin: 20px;
}
.blocontainer h1{
    margin: 23px;
}
.blogItem p{

}
h1{
    margin: 23px;
}
p{

}
.intro h2{
    margin: 12px;
}
.intro p{
margin: 12px;
}
.skillcontainer{
    padding: 12px;
}
.skillItem{
    display: flex;
    align-items: center;
}

.skill{
    width: 250px;
    height: 3px;
    background-color: red;
    border: 2px solid black;
}
.hundered{
    width: 250px;
    background-color: blueviolet;
}
.fifty{
    width: 125px;
    background-color: aqua;
}
.t5{
    background-color: red ;
    width: 75px;
}
@media (max-width:1615px){
    
}